.service-text{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ced1df;
    border-radius: 8px;
    background-color: #eeeff1;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    opacity: 1;
    color: #000;
    font-size: 16px;
    line-height: 39px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.bg-light{
    padding-left: 25px;
    padding-right: 25px;
}
.nav-item{
    cursor: pointer;
    padding-left: 20px;
}
.nav-link{
    color: black !important;
    cursor: pointer;
}
.View-Work{
    background-color: black;
    color: white !important;
    border-radius: 13px;
    margin-right: 12px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 13px;
    padding-bottom: 13px;
}
@media only screen and (max-width: 992px) {
    .navbar-nav{
        text-align: center;  
    }
    .View-Work{
        margin-left: 82px;
        margin-right: 82px;
    }
    .page-section{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 10px !important;
    }
    .service-text-box{
        padding-left: 15px !important;
    }
    .heading-3-text{
        padding-top: 45px;  
    }
    .first-text{
        margin-bottom: 44px !important;
    }
    .four-section-text{
        margin-left: 18px !important;
        margin-right: 18px !important;
        padding-right: 0px !important;
        margin-bottom: 10px !important;
        padding-top: 10px;
        text-align: left;
        padding-left: 0px !important;
    }
    .container-fluid{
        text-align: center;
    }
}
.image-box{
    height: 167px;
    width: 203px;
    margin-top: 10px;
}


.first-section{
    font-size: 20px;
}
.page-section{
    margin-top: 100px;
   padding-bottom: 10px;
    padding-left: 215px;
    padding-right: 215px;
    
}
.container-fluid{
    background-color: #eeeff1;
}
.heading-3-text{
    padding-left: 12px;
    font-size: 45px;
    padding-bottom: 25px;
}
.first-text{
    
    margin-bottom: 140px;
    font-size: 23px;
    font-weight: 350;
}
.heading-1-text{
    font-size: 45px;
}
.heading-2-text{
    font-size: 45px;
}
.heading-4-text{
font-size: 45px;
padding-left: 20px;
}
.four-section-text{
    border: black solid 1px;
    border-radius: 16px; 
    padding-right: 90px;
    margin-bottom: 74px;
    padding-top: 79px;
    padding-left: 70px;   
}
.service-text-box{
    padding-left: 62px;
}
.form-control {
    border: 1px solid #eeeff1;
    margin-bottom: 18px;
    padding: 30px 20px 30px 15px;
    border-radius: 8px;
    background-color: hsla(0,0%,100%,.5);
    font-size: 20px;
} 
.form-group{
    font-size: 23px;
    font-weight: 350;
    color:#6a6c73;
}
.text-area{
    padding-top: 10px;
}

.btn-primary{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: black;
    border-color: black;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: black;
    border-color: black;
}
.btn-primary:focus{
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.footer{
    background-color:#292929;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer-p{
    margin-bottom: 0px;
}
   